.container {
  display: grid;
  height: 100%;
  background-color: orange;
  place-items: center;
  text-align: center;
}

.btn {
    border-radius: 10px;
    font-size: 200px;
    cursor: pointer;
}
