body {
    background-color: orange;
}

.btn {
    border-radius: 10px;
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 200px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
