body {
    background-color: orange;
    display: flex;
    justify-content: center;
    place-items: center;
}

.btn {
    border-radius: 10px;
    font-size: 200px;
    cursor: pointer;
}
